@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Yanone Kaffeesatz";
    background-color: #10243a;
    color: whitesmoke;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

/* Navigation Bar */
header, footer {
    background-color: #0d1c2c;
}

.logo img{
    width: 13em;
}

.container {
    display: inline-flex;
    padding: 1em;
}

.nav {
    display: flex;
    align-items: center;
    padding: 0 2em;
}

.nav a {
    padding: 0 1em;   
}

.nav a:hover {
    text-decoration: white underline;
}

.menu {
    display: flex;
    align-items: center;
    padding: 0 0 0 13em;
}

.menu img {
    width: 2em;
}

.menu input {
    text-align: center;
    padding: .50em;
    border: 1px solid black;
}

.perfil {
    padding: 0 0 0 4em;
}

.inlineDiv {
    display: inline-flex;
    vertical-align: super;
}

.perfil img {
    background-color: white;
    border-radius: 2em;
    width: 2.5em;
    border: 1px solid black;
}

.contentButton {
    background-color: #0d1c2c;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 2em;
    border: 1px solid #0d1c2c;
    cursor: pointer;
}

#contentMenu {
    display: none;
}

.conteuDoMenu {
    position: absolute;
    background-color: #0d1c2c;
    column-count: 2;
    column-rule: 1px solid grey;
    top: 11%;
    right: 0%;
    left: 70%;
    padding: 1em;
    z-index: 20;
}

.conteuDoMenu a {
    display: table-row;
}

.conteuDoMenu a:hover {
    text-decoration: white underline;
}


/* Front Page - Main Shows/Movies */
.mainTitles {
    display: none;
}

.mainContainer {
    position: relative;
}

.mainContainer img {
    width: 100%;
}

/* Controls */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    font-weight: bolder;
    font-size: 2em;
    padding: 1em 1em;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Dots */
.dotDiv {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 45%;
    word-spacing: .5em;
}

.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 .5%;
    background-color: rgba(177, 177, 177, 0.8);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.active, .dot:hover {
    background-color: white;
}
/* End of Main Shows/Movies */

